/* .anime-cards {
  width: 200px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px;
  color: rgba(0, 0, 0, 0.3);
} */

.anime-card {
  width: 250px;
  background-color: aqua;
  position: relative;
}

.anime-card__image {
  width: 100%;
  height: 100%;
}

.anime-card:hover {
  transform: scale(1.08);
  transition: transform 0.2s ease-in-out;
}

.anime-card:hover .anime-card__details {
  opacity: 1;
}

.anime-card__details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: black;
  opacity: 0;
  color: white;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}
