.searchbar__container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.searchbar {
  width: 800px;
}

.searchbar-input {
  width: 100%;
  height: 60px;
  border: 1px;
  border-radius: 30px;
  color: rgba(207, 207, 207, 1);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 846px) {
  .searchbar-input {
    display: flex;
    width: 500px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .searchbar-input {
    display: flex;
    width: 315px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .searchbar-input {
    width: 100%;
  }
}
