.header__logo {
  width: 140px;
  height: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__nav-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__nav-button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px;
}

.header__nav-button:hover {
  background-color: gray;
}
